<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<body>
White Page

<div>
    <span th:text="${#authentication?.principal?.id} ?: 'No User'">[Username]</span>
</div>

<button id="test-btn" onclick="consoleMachine();">test</button>


<script th:inline="javascript">
    /*<![CDATA[*/

    let test = /*[[${model2}]]*/ {id: "defaultId", name: "nameeee", email: "5123"};
    $(document).ready(function() {
        var variableString = /*[[${model}]]*/'Variable String';


        changeUserName(test);

    });

    function changeUserName(userObject){
        userObject.id = "changed" + userObject.id;
    }

    function consoleMachine(){
        console.log(test.id);
    }

    /*]]>*/
</script>

</body>
</html>